* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

body {
    display: flex;
    font-family: system-ui;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(249%2c 249%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c3 C 57.6%2c77.8 172.8%2c374.6 288%2c377 C 403.2%2c379.4 460.8%2c-2.2 576%2c15 C 691.2%2c32.2 748.8%2c443 864%2c463 C 979.2%2c483 1036.8%2c111.2 1152%2c115 C 1267.2%2c118.8 1382.4%2c408.6 1440%2c482L1440 560L0 560z' fill='rgba(240%2c 240%2c 240%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c336 C 41.2%2c311.6 123.6%2c199.8 206%2c214 C 288.4%2c228.2 329.6%2c405.6 412%2c407 C 494.4%2c408.4 535.6%2c239.2 618%2c221 C 700.4%2c202.8 741.6%2c339.8 824%2c316 C 906.4%2c292.2 947.6%2c62.6 1030%2c102 C 1112.4%2c141.4 1154%2c492.4 1236%2c513 C 1318%2c533.6 1399.2%2c266.6 1440%2c205L1440 560L0 560z' fill='rgba(230%2c 230%2c 230%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    margin: 0px;
    width: auto;
    flex-direction: column;
    min-height: 100vh;
}


/* CABECERA */

nav {
    background-color: rgb(250, 250, 250);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba(41,41,41,0.1);
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    margin-left: 100px;
    transform: scale(7);
    height: 20px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    margin-right: 15px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 7px 11px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: 0.1s;
}

/* Pagina actual y pagina con el mouse sobre ella */
li a:hover {
    color: black;
    background-color: rgb(230, 230, 230);
}

li a.active {
    color: white;
    background-color: rgb(30, 30, 30);
}

.checkbtn {
    display: none;
    font-size: 30px;
    color: rgb(100, 100, 100);
    float: right;
    line-height: 60px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.5s;
}

#check:checked ~ul {
    left: 0;
}

#check:checked ~.checkbtn {
    color: rgb(50, 50, 50);
    transform: rotate(90deg) scale(1.2);
}

#check {
    display: none;
}

/* CUERPO */
#contenedor-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

h2 {
    padding-bottom: 30px;
    font-size: 2em;
}

#parrafo {
    font-size: 1.2em;
    max-width: 110vh;
    text-align: center;
}

a{
    color: rgb(0, 104, 201); ;
    text-decoration: none;
}

#linkedin:hover {
    text-decoration: underline;
}

#medios {
    font-size: 1.1em;
}


.botones {
    /* Posicion de los botones */
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    margin-right: 20px;

    /* Estilo de los botones */
    color: white;
    background-color: rgb(0, 132, 255);
    text-decoration: none;
    transition: 0.2s;
    border-radius: 2px;
}

.botones:hover {
    background-color: rgb(0, 104, 201);
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: black;
    height: 5vh;
    padding: 1em 0;
    background-color: rgb(230, 230, 230);
    border-top: 1px solid rgba(41,41,41,0.1);
    text-align: center;
    margin-top: auto;
    width: auto;
    font-size: 12px;
}

#texto-footer {
    width: 100%;
    padding: 10px;
}

#iconos-footer {
    height: 24px;
    width: 24px;
    border-radius: 100px;
    color: white;
    background-color: rgb(20, 20, 20);
    margin-right: 20px;
    transition: 0.1s;
    padding: 3px 3px;
}

#iconos-footer:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

/* Responsive design // MOBILE */

@media (max-width: 900px){

    /* CABECERA */

    .logo {
        margin-left: 30px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        bottom: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked ~ul {
        bottom: -50%;
    }

    nav ul li {
        display: block;
        margin: 4vh 0;
        line-height: 30px;
    }

    nav ul li a {
        color: black;
        font-size: 20px
    }

    li a.active {
        color: white;
        background-color: rgb(30, 30, 30);
        transition: 0.2s;
    }

    /* CUERPO */
    #contenedor-general {
        max-width: 100vh;
    }

    #parrafo {
        padding: 10px 20px;
    }

    .imagen-mobile {
        padding-top: 15px;
        width: 100px;
    }


    #botones-seccion-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

    .botones{
        margin-right: 0px;
        margin-top: 10px;
        border-radius: 0px;
    }
}